<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cargo_crate">
  <xacro:include filename="cargo_crate_macro.xacro"/>
  <xacro:arg name="cargo_mass" default="1.0"/>
  <!-- Standalone preview: the crate bottom rests at z=0. -->
  <link name="crate_base_link"/>
  <xacro:cargo_crate parent="crate_base_link" mass="$(arg cargo_mass)"/>
</robot>
